/* 공용 스타일 파일 */
*{
  box-sizing: border-box;
}

.cursor-pointer{
  cursor: pointer;
}
.chartWrapper{
    margin-left: auto;
}
.monthlyChartWrapper{
    display: block;
}
.detailChartWrapper{
    width: 700px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.wrapper{
    display: flex;

}