

.statisticsContainer{
  display: flex; 
  flex-direction: column;
}

.contentWrapper{
  display: flex;
  flex-grow: 1;
  /* flex-flow: column; */
  flex-wrap: wrap;
}

.container{
  justify-content: center;
  display: flex; 
}

.dropdown{
  padding: 50px;
}

.custom-dropdown-btn{
  background-color: white !important;
  color: black !important;
  border: 1px solid #fff !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.category{
  font-size: 20px;
  font-weight: bolder;
  height: 45px;
}

.category > td{
  padding: 5px;
  vertical-align: middle;
}

.categoryName{
  padding: 10px;
}

.circle{
  display: inline-block;
  width : 30px;
  height : 30px;
  border-radius: 50%;  
}
.totalPrice{
  font-size: 26px;
  font-weight: bold;
}
.monthIndicator{
  text-align: center;
  display: inline-block;
}

.monthlyChartIndex{
  width:70%;
  margin-top: 20px;
  align-items : center;
}

.chartWrapper{
  
  width: 1100px;
}

.detailChartWrapper{
  width: 1000px;
}

.monthlyChartWrapper{

  width:30%;
}
.monthSelector{
  text-align: center;
}

.monthButton{
  border: 0px;
  background-color: white;
}

.monthElement{
  text-align: center;
}

#my-chart-id {
  width: 100%; /* 부모 요소에 맞게 캔버스 너비 조정 */
  height: 100%; /* 부모 요소에 맞게 캔버스 높이 조정 */
}