
.container{
  display: flex; 
}


.category{
  list-style-type: none;
}

.circle{
  display: inline-block;
  width : 30px;
  height : 30px;
  border-radius: 50%;  
}
.monthIndicator{
  text-align: center;
  display: inline-block;
}

.monthlyChartIndex{
  width:50%;
  margin-top: 100px;
  align-items : center;
}
.wrapper{
  display: flex;
}
.chartWrapper{
  width: 50%;
}
.detailChartWrapper{
  width: 50%;
  display: flex;
}
.monthlyChartWrapper{
  width:50%;
}
.monthSelector{
  text-align: center;
}

.monthButton{
  border: 0px;
  background-color: white;
}

.monthElement{
  text-align: center;
}


