.statisticsContainer{
  display: flex; 
  flex-direction: column;
}

.chartWrapper{
  display: flex;
  flex-flow: column wrap;
}

.incomeChartWrapper{
  display: flex;
  flex-flow: row wrap;
}

.expenseChartWrapper{
  display: flex;
  flex-flow: row wrap;
  padding-top: 50px;
}

.doughnutChartWrapper{
  display: flex;
  flex : 0.8;
}

.doughnutChart{
  flex : 1;
  height: 300px;
}

.chartIndex{
  flex : 1;
  align-items : center;
}

.lineChart{
  height: 300px;
  flex: 1;
}

.custom-dropdown-btn{
  background-color: white !important;
  color: black !important;
  border: 1px solid #fff !important;
  font-size: 24px !important;
  font-weight: bold !important;
}

.category{
  width: 10px;
  font-size: 20px;
  font-weight: bolder;
  height: 45px;
}

.category > td{
  padding-left: 20px;
  vertical-align: middle;
  text-align:right 
}

.category > td:nth-child(1) {
  width: 30px;
}

.category > td:nth-child(2) {
  width: 100px;
}

.category > td:nth-child(3) {
  width: 200px;
}

.categoryName{
  padding: 10px;
}

.circle{
  width : 30px;
  height : 30px;
  border-radius: 50%;  
}

.totalPrice{
  font-size: 26px;
  font-weight: bold;
}

.monthIndicator{
  position: absolute;
  right: 31%;
}

.monthButton{
  border: 0px;
  background-color: white;
}

.monthElement{
  text-align: center;
}

#my-chart-id {
  width: 100%; /* 부모 요소에 맞게 캔버스 너비 조정 */
  height: 100%; /* 부모 요소에 맞게 캔버스 높이 조정 */
}