table td, table th{
  width: 200px;
}

.day {
  background-color: #eee;
  border: 1px solid #b1b1b1;
}

.date {
  height: 110px;
  /* paddings: 6px; */
  border: 1px solid #b1b1b1;
  cursor: pointer;
}

.today{
  background-color: tomato;
  border-radius: 50%;
  padding: 4px;
}