h4, p {
  margin-bottom: 0px !important; 
}
.memo-container{
  width: 240px;
  /* height: 300px; */
  /* text-align: center; */
  padding: 8px;
  background-color: #eee;
  border-radius: 5px;
}
.memo-container h4{
  text-align: center;
}

.description-wrapper{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 8px;
}