.month-selector {
    margin-left: auto;
    margin-bottom: 10px;
}

.month-selector select {
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    text-align: center;
    width: 170px;
}
